* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    color: #333;
    margin: 0;
}

:root {
    --main-color: #347AFF;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

