.about {

    @include pageStyle;
    
    &__subtitle {
        text-align: center;
        font-weight: 700;
        margin: 1rem 0 0 0;
        padding: 0 1rem;
    }

    &__content {
        max-width: 800px;
        margin: 0 auto;
        padding: 1rem;

        &-text {
            line-height: 1.6;
        }
    }

    &__image {
        margin: 0 auto;
        max-width: 250px;
        max-height: 250px;
    }

    @include breakpoint(tablet) {
        &__content {
            padding: 1rem 2rem;
            
            &-text{
                line-height: 1.9;
            }
        }
    }

    @include breakpoint(desktop);
}