.contact {

    @include pageStyle;

    &__subtitle {
        max-width: 850px;
        margin: 1rem auto;
        padding: 0 1rem;
        text-align: center;
        font-weight: 700;
    }

    &__content {
        max-width: 950px;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
    }

    &__form {
        max-width: 450px;
        height: 450px;
        margin: 1rem;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 2px rgba(0,0,0, 0.3);

        &-field {
            margin: 0.5rem auto;
            padding: 0.5rem;
        }

        &-field label {
            font-weight: 600;
            color: $secondary-color;
        }

        &-field input {
            width: 100%;
            height: 27px;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 0.5rem;
            
        }

        &-field textarea {
            width: 100%;
            height: 140px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        &-field input:focus,
        &-field textarea:focus {
            outline: none;
            box-shadow: 0 0 5px $main-color;
        }

        &-submit {
            display: block;
            width: 90px;
            height: 35px;
            margin: 0.5rem;
            font-size: 0.9rem;
            color: #fff;
            border: none;
            border-radius: 3px;
            background: $main-color;
            box-shadow: 1px 2px 3px rgba(0,0,0, 0.5);
        }

    }

    &__info {
        margin: 1rem;
        
        &-title {
            color: $secondary-color;
        }

        &-items {
            padding: 0;
        }

        &-item {
            list-style: none;
            margin: 0.7rem 0;
            font-weight: 600;
        }
    }

    @include breakpoint(tablet);

    @include breakpoint(desktop) {
        &__form {
            order: 1;
            width: 100%;
            margin: 0;
        }
        
        &__info {
            order: 2;
            margin: 0;
        }

        &__content {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }
    }
}