.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #333;
    font-size: 0.85rem;

    &__top {
        color: #fff;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__link-items,
    &__contact-items {
        margin: 1rem;
        padding: 0;
    }

    &__link-item,
    &__contact-item {
        list-style: none;
        margin: 0.5rem 0;
    }
    &__link-item a,
    &__contact-item a {
        text-decoration: none;
        color: #fff;
    }

    &__fb-icon {
        background: #fff;
        display: inline-block;
        width: 25px;
        height: 25px;
        position: relative;
        border-radius: 50%;
    }

    &__fb-icon a {
        color: #333;
        font-size: 1.2rem;
        font-weight: 700;
        position: absolute;
        top: 12%;
        left: 35%;
    }

    &__logo {
        width: 125px;
        height: auto;
        margin: 1rem;
    }

    &__bottom {
        background: #1c1c1c;
        color: #fff;
        padding: 5px;
        text-align: center;
        width: 100%;
        font-size: 0.8rem;
    }

    @include breakpoint(tablet) {
        &__top {
            max-width: 800px;
            flex-direction: row;
        }
    }
}